<div class="row">
    <div class="col-xs-12">
        <h1>Study Optimizer</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <form class="form">
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Search..." ng-model="search.$">
                </div>
                <div class="col-sm-6">
                    <select class="form-control" ng-model="search.Unit">
                        <option value="">All</option>
                        <option value="Cognitive">Cognitive</option>
                        <option value="Sociocultural">Sociocultural</option>
                        <option value="Biological">Biological</option>
                        <option value="Health">Health</option>
                        <option value="Developmental">Developmental</option>
                    </select>
                </div>
            </div>
        </form>
        <p>
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="button" class="btn" ng-class="cog8.status" ng-click="search.$ = 8; search.Unit='Cognitive'">{{cog8.text}}</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn" ng-class="bio8.status" ng-click="search.$ = 8; search.Unit='Biological'">{{bio8.text}}</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn" ng-class="soc8.status" ng-click="search.$ = 8; search.Unit='Sociocultural'">{{soc8.text}}</button>
                </div>
                <div class="btn-group">

                <button type="button" class="btn" ng-class="hea22.status" ng-click="search.$ = 22; search.Unit='Health'">{{hea22.text}}</button>
            </div>
            </div>
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="button" class="btn" ng-class="cog22.status" ng-click="search.$ = 22; search.Unit='Cognitive'">{{cog22.text}}</button>
                </div>
                <div class="btn-group">

                    <button type="button" class="btn" ng-class="bio22.status" ng-click="search.$ = 22; search.Unit='Biological'">{{bio22.text}}</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-disabled bg-danger">Sociocultural 22pts: 0%</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn" ng-class="dev22.status" ng-click="search.$ = 22; search.Unit='Developmental'">{{dev22.text}}</button>
                </div>
            </div>
        </p>
        <div class="list-group" style="height: 80vh; overflow:scroll">
            <a class="list-group-item" ng-class="question.status?'list-group-item-'+question.status:'list-group-item-danger'" ng-repeat="question in $parent.questions | filter:search | orderBy:['Unit','Marks','Question']">
                <span class="badge">{{question.num+'/'+question.Required}}</span>
                <span>({{question.Marks}}) </span>{{question.Question}}
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <form class="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search..." ng-model="ssearch">
            </div>
            <div class="form-group">
                <p>{{total}}</p>
            </div>
            <div style="height: calc(80vh); overflow:scroll">
                <div class="form-group" ng-repeat="study in $parent.studies | filter:ssearch">
                    <div class="checkbox">
                        <label ng-mouseover="highlight(study,true)" ng-mouseleave="highlight(study,false)">
                            <input type="checkbox" ng-model="study.selected" ng-change="update()">{{study.Name}}
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
