<div class="row">
    <div class="col-xs-12">
        <h1>Question Generator</h1>
    </div>
    <div class="col-xs-12">
        <form class="form-inline">
            <div class="form-group">
                <select class="form-control" ng-init="paper = '1'" ng-model="paper">
                    <option value="1">Paper 1</option>
                    <option value="2">Paper 2</option>
                </select>
                <button class="btn btn-success" ng-click="generate(paper)">Generate</button>
            </div>
        </form>
    </div>
    <div class="col-xs-12">
        <div ng-repeat="question in questions">
            <h3>({{question.Marks}}) {{question.Question}} <small> ({{question.Unit}})</small></h3>
        </div>
    </div>

</div>
